@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,700");

a
	display inline-block
	margin 0
	text-decoration none

body
	font-family 'Open Sans', sans-serif
	font-size 16px
h1
h2
h3
h4
	margin 0
p 
	display inline-block
	margin 0

.contenedor
		background #fff
		width 100%
	.top
		margin 0 auto
		padding 0 auto
		text-align center
		width 90%
		h1
			color #1D858C
			font-size 4em
			font-weight normal
			margin-top 0.5em
			text-shadow 2px 3px 3px rgba(0,0,0,0.8)
		h3
			font-size 2em
			color #ADD9D1
			text-shadow 2px 3px 3px rgba(0,0,0,0.6)
			margin-top 0.5em
footer			
	.contacto
		width 100%

		.title
			color #79B5AF
			font-size 1.5em
			font-weight normal
			margin 0
			padding 0.5em 0 0.5em 0
			text-align center
			text-shadow 2px 2px 5px rgba(0,0,0,0.3)
		.datos-contacto
			margin 0 auto
			padding 0 auto
			text-align center
			width 100%

			a
			p 
				color #777
				font-size 2em
				padding 0.2em 0.2em
				text-shadow 2px 2px 5px rgba(0,0,0,0.2)

@media screen and (min-width: 768px)
	body
	.contenedor
		.top
			h1
				font-size 8em
			h3
				font-size 4em
	footer			
		.contacto
			.title
				font-size 2.5em

			
		
						
					
						
											
			